<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MINECRAFT - CATEGORIAS</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script th:src="@{/js/main.js}" defer></script>
</head>
<body>
<div class="titulo-contenedor">
    <h2>Inventario Categorías</h2>
    <span class="splash-text"></span>
</div>

<a th:href="@{/categorias/nuevo}" class="boton-retro" style="max-width: 800px; width: 95%;">+ NUEVO TIPO DE BLOQUE</a>

<div class="contenedor-tabla">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${listaCategorias}">
            <td th:text="${c.idCategoria}"></td>
            <td th:text="${c.nombreCategoria}"></td>
            <td th:text="${c.descripcionCategoria}"></td>
            <td>
                <a th:href="@{/categorias/editar/{id}(id=${c.idCategoria})}" style="color:#FFFF55; background:none; border:none; padding:0; margin:0;">[EDIT]</a>
                <span style="color: #555555;"> | </span>
                <a th:href="@{/categorias/eliminar/{id}(id=${c.idCategoria})}" style="color:#FF5555; background:none; border:none; padding:0; margin:0;">[DELETE]</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a th:href="@{/home}">[ VOLVER AL MENÚ ]</a>
</body>
</html>